$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

$bright-blue:#0099cc;
$royal-blue:#336699;
$dark-blue: #333366;
$darkest-blue:#330066;

$dark-grey: #434343;
$medium-grey:#5c5c5c;
$primary-color: $darkest-blue;
$secondary-color: $bright-blue;

$link-color: $bright-blue;

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    
}
.container {
	//margin-bottom: 5px;
//	padding-bottom: 10px;
//    text-align: left;
	background-color: #ffffff;
	
}
.jumbotron {
	margin-bottom: 5px;
	padding-bottom: 10px;
    text-align: left;
	background-color: #f2f2f2;
}
h1 {
//	color: $secondary-color;
}
h2 {
	color:$dark-grey;
	font-size: 50px;
	padding: 0;
	margin:10px 0 0;
	font-family: 'Great Vibes', cursive;
	letter-spacing:2px;
	span {
		padding-left: 7px;
		img {
			vertical-align: center;
		}
	}
}
h4 {
	padding: 15px 0;
	margin:10px 0;
	span {
		padding-right: 5px;
	}
	a {
		color:white;
		background-color: $bright-blue;
		padding: 12px;
		margin: 10px 0;
		border-radius:5px;
		text-align:center;
		font-size: 14px;
		letter-spacing: 1.5px;
	}
}
.stitched {
   //padding: 20px;
//   margin: 10px;
//   background: #ff0030;
//   color: #fff;
//   font-size: 21px;
//   font-weight: bold;
//   line-height: 1.3em;
   border: 1px dashed #fff;
   border-radius: 10px;
   box-shadow: 0 0 0 4px $bright-blue, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
   text-shadow: -1px -1px #aa3030;
   font-weight: normal;
   &:hover{
	   color:black;
	   text-shadow:none;
   };
}
p {
	color: $medium-grey;
	text-align:left;
	margin-top:20px;
	
	
}
.copyright {
	font-size: 14px !important;
}
a {
	color:$link-color;
	text-decoration: none;
	&:hover {
		color: black;
		text-decoration: none;
	}
}
img {
	border: 5px inset lighten($primary-color, 30);
	padding: 1px;
}
.col-md-4 {
	h2 {
		margin-top: 40px;
		
	}
	p {
			font-size: 18px;
			letter-spacing: normal;
	}
}

.banner {
	border-radius:5px;
	background-color: $bright-blue;
	padding: 5px 7px 10px;
	margin: 0px 0 20px -12px;
	letter-spacing: 4px;
	font-family: 'Great Vibes', cursive;
	-webkit-box-shadow: 1px 1px 2px 1px rgba(39,43,48,.5);
	-moz-box-shadow: 1px 1px 2px 1px rgba(39,43,48,.5);
	box-shadow: 1px 1px 2px 1px rgba(39,43,48,.5);
    border: 1px dashed #fff;
    border-radius: 10px;
    box-shadow: 0 0 0 4px $bright-blue, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
    //text-shadow: -1px -1px #aa3030;
    font-weight: normal;
	width:102%;
	h1 {
		font-size: 55px;
		color:white;
		text-shadow: 0px 0px 0px #999, 0px 1px 0px lighten($dark-blue, 40), 0px 2px 0px lighten($dark-blue, 30), 0px 3px 0px lighten($dark-blue, 20), 0px 4px 0px #555, 0px 5px 0px lighten($dark-blue, 10), 0px 5px 0px #333, 0px 6px 5px $dark-blue;
		
	}
	h2 {
		color: #ffffff;
		font-size: 23px;
		border:none;
		letter-spacing:4px;
		
		
	}
	h3 {
			color: $dark-blue;
			font-size: 23px;
	//		text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
			border:none;
		
		}
	
}
p {
	font-size: 16px;
	letter-spacing: .5px;
	line-height: 125%;
	a.family-tree {
		color: green;
		
	}
}
.welcome {
	border:none;
	p {
		text-align:left;
		margin-top: 10px;
	}
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-inverse {
	
}
/* Custom page header */
.header {
    border-bottom: 1px solid lighten($primary-color, 20);

    /* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
    }
}

/* Custom Styles */

#instafeed {
	//border: 1px solid lighten($secondary-color, 20);
//	background-color: lighten($secondary-color, 35);\
	margin:10px 0;
	padding: 10px 0;
	//-webkit-box-shadow: 1px 1px 2px 1px rgba(39,43,48,.5);
//	-moz-box-shadow: 1px 1px 2px 1px rgba(39,43,48,.5);
//	box-shadow: 1px 1px 2px 1px rgba(39,43,48,.5);
	
//	h2 {
//		border:none;
//		background:none;
//		font-family: 'Great Vibes', cursive;
//		font-size:40px;
//
//	}
//	p {
//		font-size: 18px;
//	}
//	a {
//		img {
//			margin: 4px;
//			padding: 2px;
//			border: 2px solid lighten($secondary-color, 10);
//		}
//	}
}
img {
	border:none;
}
.polaroid-images p {
	//font-family: 'Rock Salt', cursive;
	font-family: 'Homemade Apple', cursive;
	font-size: 23px;
	color:$dark-blue;
	padding: 0;
	
}
.polaroid-images a
{
	background: white;
	display: inline;
	float: left;
	margin: 0 5px 5px;
	padding: 10px 10px 25px;
	text-align: center;
	text-decoration: none;
	-webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
	box-shadow: 0 4px 6px rgba(0,0,0,.3);
	-webkit-transition: all .15s linear;
	-moz-transition: all .15s linear;
	transition: all .15s linear;
	z-index:0;
        position:relative;
}
.polaroid-images a:after {
	color: #333;
	font-size: 20px;
	content: attr(title);
	position: relative;
	top:15px;
}
.polaroid-images img { 
	display: block; 
	width: inherit; 
}
.polaroid-images a:first-child
{
	-webkit-transform: rotate(44eg);  
	-moz-transform: rotate(4deg); 
	transform: rotate(4deg); 
}
.polaroid-images a:nth-child(2n)
{
	-webkit-transform: rotate(9deg);  
	-moz-transform: rotate(9deg); 
	transform: rotate(9deg); 
}
.polaroid-images a:nth-child(3n){ 
	-webkit-transform: rotate(-24deg);  
	-moz-transform: rotate(-24deg); 
	transform: rotate(-24deg); 
	
}
.polaroid-images a:nth-child(4n)
{
	-webkit-transform: rotate(-14deg);  
	-moz-transform: rotate(-14deg); 
	transform: rotate(-14deg); 
}
.polaroid-images a:nth-child(5n)
{
	-webkit-transform: rotate(18deg);  
	-moz-transform: rotate(18deg); 
	transform: rotate(18deg); 
}
.polaroid-images a:nth-child(6n)
{
	-webkit-transform: rotate(-18deg);  
	-moz-transform: rotate(-18deg); 
	transform: rotate(-18deg); 
}
.polaroid-images a:nth-child(7n)
{
	-webkit-transform: rotate(12deg);  
	-moz-transform: rotate(12deg); 
	transform: rotate(12deg); 
}
.polaroid-images a:nth-child(8n)
{
	-webkit-transform: rotate(-12deg);  
	-moz-transform: rotate(-12deg); 
	transform: rotate(-12deg); 
}
.polaroid-images a:nth-child(9n)
{
	-webkit-transform: rotate(12deg);  
	-moz-transform: rotate(12deg); 
	transform: rotate(12deg); 
}
.polaroid-images a:hover{
	-webkit-transform: rotate(0deg); 
	-moz-transform: rotate(0deg);
        transform: rotate(0deg);
	-webkit-transform: scale(1.2); 
	-moz-transform: scale(1.2);
        transform: scale(1.2);
	z-index:10;
	-webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
	-moz-box-shadow: 0 10px 20px rgba(0,0,0,.7);
        box-shadow: 0 10px 20px rgba(0,0,0,.7);
}
#map {
	height:300px;
	width:300px;
}
footer {
	p.copyright {
		padding: 20px 0;
	}
}


/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid lighten($primary-color, 30);
}

.container-narrow > hr {
    margin: 30px 0;
}
hr {
	border-top: 1px solid lighten($dark-blue, 55);
}
/* Main marketing message and sign up button */

	
	

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
    p + h4 {
        margin-top: 28px;
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }
	

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }

    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
